@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Calc Service Demonstration</h2>
</div>

<div class="content">
    <ul>
        <a href="/Home/Using_model_calc"><li>Using Model Calc</li></a>
        <a href="/Home/ViewData_calc"><li>Using ViewData Calc</li></a>
        <a href="/Home/ViewBag_calc"><li>Using ViewBag Calc</li></a>
        <a href="/Home/ServiceInjection_calc"><li>Using Service Injection Calc</li></a>
    </ul>
</div>